extends ../../layouts/default.pug
include ../../mixins/alert

block main
    if role.permissions.includes("accounts_view")
        .container-fluid
            .d-flex.justify-content-between.align-items-center.mb-4
                h1.mb-0 Danh sách tài khoản admin
                .alerts
                    +alert-success(5000)
                    +alert-error(5000)

            .card.shadow-sm
                .card-header.d-flex.justify-content-between.align-items-center
                    span.font-weight-bold Danh sách
                    if role.permissions.includes("accounts_create")
                        a.btn.btn-success.btn-sm(
                            href=`${prefixAdmin}/accounts/create`
                        )
                            i.fa.fa-plus.mr-1
                            | Thêm mới

                .card-body.p-0
                    table.table.table-hover.table-bordered.table-sm.mb-0.text-center
                        thead.thead-light
                            tr
                                th(style="width:50px") STT
                                th(style="width:120px") Avatar
                                th Họ tên
                                th Phân quyền
                                th Email
                                th(style="width:120px") Trạng thái
                                th(style="width:220px") Hành động

                        tbody
                            each item, index in records
                                tr.align-middle
                                    td #{index + 1}

                                    td
                                        img.rounded(
                                            src=item.avatar
                                            alt=item.fullName
                                            width="60"
                                        )

                                    td.text-left #{item.fullName}
                                    td #{item.roleTitle}
                                    td.text-left #{item.email}

                                    td
                                        if role.permissions.includes("accounts_edit")
                                            if item.status === "active"
                                                span.badge.badge-success Hoạt động
                                            else
                                                span.badge.badge-danger Dừng

                                    td
                                        a.btn.btn-secondary.btn-sm.mr-1(
                                            href=`${prefixAdmin}/accounts/detail/${item.id}`
                                        ) Chi tiết

                                        if role.permissions.includes("accounts_edit")
                                            a.btn.btn-warning.btn-sm.mr-1(
                                                href=`${prefixAdmin}/accounts/edit/${item.id}`
                                            ) Sửa

                                        if role.permissions.includes("accounts_delete")
                                            button.btn.btn-danger.btn-sm(
                                                data-id=item.id
                                            ) Xóa
