mixin form-change-multi(path)
    form(
        action=path
        method="POST"
        name="form-change-multi"
      )
        .d-flex.align-items-start
          .form-group
            select.form-control(name="type")
              option(disable) --chọn hành động--
              option(value="active") Hoạt động
              option(value="inactive") Dừng hoạt động
              option(value="delete-all") Xoá tất cả


          .form-group
            input.form-control(
              type="text"
              name="ids"
              value=""
              class="form-control d-none"
            )

          button.btn.btn-primary(type="submit") Áp dụng