extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main
  h1.mb-4 Cập nhật thông tin cá nhân

  +alert-success(5000)
  +alert-error(5000)

  form(
    action=`${prefixAdmin}/my-account/edit?_method=PATCH`
    method="POST"
    enctype="multipart/form-data"
  )
    .form-group
      label(for="fullName") Họ tên *
      input.form-control(
        type="text"
        id="fullName"
        name="fullName"
        required
        value=user.fullName
      )

    .form-group
      label(for="email") Email *
      input.form-control(
        type="email"
        id="email"
        name="email"
        required
        value=user.email
      )
    .form-group
      label(for="password") Password *
      input.form-control(
        type="password"
        class="form-control"
        id="password"
        name="password"
        
      )

    .form-group
      label(for="phone") Số điện thoại
      input.form-control(
        type="text"
        id="phone"
        name="phone"
        value=user.phone
      )

    .form-group.upload-image
      label(for="avatar") Avatar
      input.form-control-file(
        type="file"
        id="avatar"
        name="avatar"
        accept="image/*"
        upload-image-input
      )

      img.image-preview(
        src=user.avatar
        upload-image-preview
      )

    .form-group
      button.btn.btn-primary(type="submit") Cập nhật